/*Header*/
:root{
    --brand-color:#434455;
}
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;
    text-decoration: none;
}
.studio{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2E2F42;
}
.span{
    color:#2E2F42;
}

.body {
  font-family: "Roboto", sans-serif;
  color:#434455;
  font-weight: 400;
  line-height: 1.5;
  background-color: #FFFFFFFF;
}
.list-studio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2E2F42;
}
.link-studio{
    text-decoration: none;
}
list.studio:hover, .list-studio:focus {
    color: #404bbf;
}
.list-portfolio {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
}
.link-portfolio{
    text-decoration: none;
}

.list-portfolio:hover, .list-portfolio:focus {
    color:#404bbf;
}

.list-contacts{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
}
.link-contacts {
    text-decoration: none;
}

.list-contacts:hover, .list-contacts:focus{
    color: #404bbf;
}

.mail{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.link-mail{
    text-decoration: none;
}
.link-mail:hover, .link-mail:focus{
    color:#404bbf;

}
.first-section {
    background-color: #2E2F42;
}
.h1 title{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color:#FFFFFFFF;
}
.button {
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:#FFFFFFFF;
    cursor: pointer;
}
.button:hover, .button:focus {
    color: #404bbf;
}
.name{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:#2E2F42;
}
.paragraph{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:#434455;
}
.title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2E2F42;
}
.images {
    list-style: none;
}
.fourth section{
    background-color: #F4F4FD;
}

.list-item{
    list-style: none;
    background-color: #FFFFFFFF;
}
.name{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:#2E2F42;
}
.job{
font-size:16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.footer{
    background-color: #2E2F42;
}
.footer p{
    line-height: 1.5;
    color:#F4F4FD;
    letter-spacing: 0.02em;
}